<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.alfred.rainfred</string>
	<key>connections</key>
	<dict>
		<key>009A68E3-3688-4957-8A5C-490EB2B6D6B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8045AFA1-B14B-4719-B7C8-F5219020356A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>29EBF769-E33A-4A18-B08E-72810499B22F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6FC3B5D4-FB86-4F5B-A782-96F2C9DEF5BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F478D23-7455-4CC0-9B22-659E3997D6A2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43986A7E-422E-410D-BB94-2050D0D14F3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>009A68E3-3688-4957-8A5C-490EB2B6D6B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>453B2FF4-E51A-4CBE-807B-D81570F4C2FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0255505-9B05-4AAE-8F1E-52247948088A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F7608C1-BE64-4778-B864-615F62828A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43986A7E-422E-410D-BB94-2050D0D14F3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F84379D-A173-44C7-8FD5-A63023402E27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C67645B-EC6B-408D-AFB5-AC54F1FCF2DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A232AA4-FC39-472A-BFE1-53A4B159551B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35415B00-5375-45FE-9EFC-728D28C18EFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FC3B5D4-FB86-4F5B-A782-96F2C9DEF5BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55CF3228-DFD9-487C-B306-C298629ACA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8045AFA1-B14B-4719-B7C8-F5219020356A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F84379D-A173-44C7-8FD5-A63023402E27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>A Simple Raindrop.io Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rainfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0255505-9B05-4AAE-8F1E-52247948088A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [ ! -d "${alfred_workflow_data}" ]; then
	mkdir -p "${alfred_workflow_data}"
fi

cat "${alfred_workflow_data}/bookmarks.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Searching...</string>
				<key>title</key>
				<string>Search Raindrops</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>453B2FF4-E51A-4CBE-807B-D81570F4C2FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Refreshed 👍</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6C67645B-EC6B-408D-AFB5-AC54F1FCF2DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ ! -d "${alfred_workflow_data}" ]; then
	mkdir -p "${alfred_workflow_data}"
fi

./fetch &gt; "${alfred_workflow_data}/bookmarks.json"
if [ $? -eq 0 ]; then
	echo -n ok
else
	echo -n error
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8045AFA1-B14B-4719-B7C8-F5219020356A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Refresh","arg":"refresh"},{"title":"Info","arg":"info"}]</string>
				<key>keyword</key>
				<string>:r</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Raindrop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6F7608C1-BE64-4778-B864-615F62828A0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ok</string>
						<key>outputlabel</key>
						<string>ok</string>
						<key>uid</key>
						<string>5A232AA4-FC39-472A-BFE1-53A4B159551B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6F84379D-A173-44C7-8FD5-A63023402E27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>refresh</string>
						<key>outputlabel</key>
						<string>refresh</string>
						<key>uid</key>
						<string>29EBF769-E33A-4A18-B08E-72810499B22F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>info</string>
						<key>outputlabel</key>
						<string>info</string>
						<key>uid</key>
						<string>1F478D23-7455-4CC0-9B22-659E3997D6A2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>009A68E3-3688-4957-8A5C-490EB2B6D6B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>RAINDROP_TOKEN</key>
					<string>{var:raindrop_token}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43986A7E-422E-410D-BB94-2050D0D14F3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Check the logs 👎</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>35415B00-5375-45FE-9EFC-728D28C18EFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>2</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>55CF3228-DFD9-487C-B306-C298629ACA35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo Script dir:
echo $(pwd)
echo

echo Data dir:
echo ${alfred_workflow_data}
echo

echo Cache count:
echo $(jq ".items|length" "${alfred_workflow_data}/bookmarks.json")
echo

echo Bookmark file:
ls -l "${alfred_workflow_data}/bookmarks.json"
echo

echo Test fetch:
RAW=1 DEBUG=1 MAX_PAGES=1 PER_PAGE=1 MERGE_STREAMS=1 RAINDROP_TOKEN=${RAINDROP_TOKEN} ./fetch
echo

echo Cached bookmarks:
jq . "${alfred_workflow_data}/bookmarks.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FC3B5D4-FB86-4F5B-A782-96F2C9DEF5BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>009A68E3-3688-4957-8A5C-490EB2B6D6B4</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>35415B00-5375-45FE-9EFC-728D28C18EFB</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>43986A7E-422E-410D-BB94-2050D0D14F3F</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>453B2FF4-E51A-4CBE-807B-D81570F4C2FD</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>55CF3228-DFD9-487C-B306-C298629ACA35</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>6C67645B-EC6B-408D-AFB5-AC54F1FCF2DD</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>6F7608C1-BE64-4778-B864-615F62828A0F</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>6F84379D-A173-44C7-8FD5-A63023402E27</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>6FC3B5D4-FB86-4F5B-A782-96F2C9DEF5BE</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>8045AFA1-B14B-4719-B7C8-F5219020356A</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C0255505-9B05-4AAE-8F1E-52247948088A</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Create at https://app.raindrop.io/settings/integrations</string>
			<key>label</key>
			<string>Raindrop Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>raindrop_token</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/mnadel/rainfred</string>
</dict>
</plist>
